# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\myrootfiles\FINKI\3. Tret semestar\Algoritmi i Podatocni Strukturi\Exercises\Vtor kolokvium\Apteka\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
